* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
  color: goldenrod;
  font-family: 'Festive', cursive;
  font-family: 'Fruktur', cursive;font-family: 'Festive', cursive;
  font-family: 'Fruktur', cursive;
  
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: goldenrod;
}

.brand-title {
    font-size: 3rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
       
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;  

}

.navbar-links li {
    list-style: none;
    text-align:left;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: goldenrod;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid goldenrod;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: black;
    color: goldenrod;
    padding: 12px 20px;
    border: solid goldenrod;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
 
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;  
}
  
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
  
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  border:0;
  padding:0px;

}
   
.leftpane {
width: 40%;
height: 100%;
background-color: rgb(105, 104, 104);
font-size: 3em;

}

.headshot, .social-links {
  margin-top: 25%;
  border: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
}

img {
width: 40%;
border-radius: 50%;
}

.social-links {
display: flex;
justify-content: space-around;
margin: 18%;
margin-top: 5%;
font-size: 100%;

}

.maincontent {
  display: flex;
  
}